.character {
    @include gt-xs {
        width: 100%;
    }
    &__image__container {
        position: relative;
        width: clamp(50px, 100vw, 300px);
        height: auto;
        aspect-ratio: 1;

        @include gt-xs {
            width: 100%;
        }

        &__image {
            object-fit: cover;
            border-radius: $rounded-md;
        }

        &__favorite {
            position: absolute;
            top: $space-4;
            right: $space-4;
            z-index: 10;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: $space-4;

        &__name {
            max-width: 10ch;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &__status {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &::before {
                content: "";
                display: inline-block;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                margin-right: $space-2;
            }

            &.alive::before {
                background-color: $green;
            }
            &.dead::before {
                background-color: $red;
            }
            &.unknown::before {
                background-color: gray;
            }
        }

        .character__detail {
            display: none;

            &--bottom {
                display: none;
            }
        }
    }
    .character__origin {
        display: none;
    }
}

.character__page {
    .character.detailed {
        max-width: 400px;
    }
}
.character.detailed {
    width: 100%;

    .character__image__container {
        width: 100%;
    }

    .character__detail {
        display: flex;
        &--bottom {
            display: none;
        }
    }
    .character__origin {
        display: flex;
        font-style: italic;
        font-size: 1.2rem;
    }
    .character__select {
        display: none;
    }
}

.character.minified {
    display: flex;
    gap: $space-4;

    .character__image__container {
        width: 100px;

        &__favorite {
            display: none;
        }
    }

    .character__info {
        margin: 0;

        &__status {
            display: none;
        }
    }

    .character__detail {
        display: none;
    }
    .character__origin {
        display: flex;
        font-style: italic;
        font-size: 1.2rem;
    }
    .character__select {
        display: none;
    }
    .character__detail--bottom {
        display: block;
    }
}
