.location {
    @extend %layout;

    padding: $space-2;
    border-radius: $rounded-lg;
    margin: $space-4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $box-shadow;

    &:hover {
        box-shadow: $box-shadow-green;
    }

    @include gt-xs {
        padding: $space-4;
    }

    &__content {
        display: flex;
        gap: $space-4;
        & > div {
            display: flex;
            flex-direction: column;
        }

        &__title {
            font-weight: $font-semibold;
            color: $brown;
        }

        &__info {
            color: $brown;
        }

        span {
            padding: $space-1;
        }
    }
}
