.location__page {
    @extend %layout;

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: $space-4;

        @include gt-sm {
            grid-template-columns: repeat(2, 1fr);
        }

        @include gt-md {
            grid-template-columns: repeat(3, 1fr);
        }
        padding-bottom: $space-20;
    }
}

.characters__page {
    @extend %layout;

    & > div:nth-child(1) {
        display: flex;
        flex-direction: column;

        & > div:nth-child(1) {
            display: flex;
            justify-content: space-between;

            span,
            a {
                font-weight: $font-bold;
            }

            a:hover {
                color: $green;
            }
        }
    }

    .characters__page__filters {
        margin: $space-6 0;
        .status {
            margin-right: $space-4;
            padding: $space-2 $space-4;
            border-radius: $rounded;
            border: none;
            background-color: inherit;
        }

        .status--alive {
            box-shadow: $box-shadow-green;
            color: $green;
            &:hover,
            &.selected {
                background-color: $green;
                color: white;
            }
        }
        .status--dead {
            box-shadow: $box-shadow-red;
            color: $red;
            &:hover,
            &.selected {
                background-color: $red;
                color: white;
            }
        }
        .status--unknown {
            box-shadow: $box-shadow-brown;
            color: $brown;
            &:hover,
            &.selected {
                background-color: $brown;
                color: white;
            }
        }
    }

    &__characters {
        display: flex;
        overflow-x: scroll;
        gap: $space-4;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.character__page {
    @extend %layout;
    h2 {
        margin-top: $space-6;
    }
    &__others {
        @extend %layout-grid;
        margin-top: $space-4;
    }
}

.favorites__page {
    @extend %layout;
    @extend %layout-grid;
}
